.Phonetic {
  display: inline-flex;
  margin: 10px auto;
}
.Phonetic a {
  font-size: 15px;
  color: #9671f4;
  border: 1px solid #9671f4;
  padding: 5px 10px;
  border-radius: 20px;
  text-decoration: none;
}

.Phonetic a:hover {
  background: #9671f4;
  color: white;
}

.Phonetic .text {
  font-size: 18px;
  opacity: 0.6;
  margin-left: 15px;
  margin-top: 2px;
}
